
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Wiki!{% endblock %}</title>
        {% block stylesheets %}

       <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

        <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />
   
     <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <link href='http://fonts.googleapis.com/css?family=Gilda+Display|Muli|Alegreya+Sans|Ceviche+One|Allerta|Roboto|Buda:300|Montserrat|Actor|AlefMerienda|Sofadi+One' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <!-- font-family: 'Muli', sans-serif; -->
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        </head>
        <body>

        <header class='container'>
            <div class='row'>
               <div class="col-xs-12 col-md-5" id="logo">
                <a href="#" alt="kikala" title="kikala Paris"><img src="{{ asset('uploads/logo.png') }}" alt="" titre="" width='100px' height='60px'></a>


               </div>
            
               <div class="col-xs-12 col-md-7">
                     <ul class="nav nav-pills">
                                  <li><a href="{{path('xiaomei_xiaomei_home') }}">Home</a></li>
                                  <li><a href="{{ path('xiaomei_xiaomei_showcoursall') }}">Cours </a></li>
                                  <li><a href="{{ path('xiaomei_xiaomei_about') }}">A propos de nous </a></li>
                           
                    
                             {% if app.user %}
                            <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                            <li ><a href="{{ path('xiaomei_xiaomei_moncompte') }}">Mon compte</a></li>

                            {% else %}
                            <li><a href="{{ path('login') }}">Connexion</a></li>
                            <li><a href="{{ path('xiaomei_xiaomei_register') }}">Inscription</a></li>
                        {% endif %}      
                     
                </ul> 
            </div>  

     </header>

  <div class='container'>     
        <div id="wrapper">

            {% block wrapper %}{% endblock %}
            
        </div>
</div>     
<footer class='container'>
          
       <div class='row'>
            <div  class="col-xs-12 col-md-4">
               © 2014 Kikala Inc. Tous droits réservés 
            </div>

            <div  class="col-xs-12 col-md-4">
              <a href="{{ path('xiaomei_xiaomei_legal') }}">Mentions légales</a>   
            </div>


            <div  class="col-xs-12 col-md-3">
              <p>Suivez-nous</p>
                    <a href="#" id="facebook" title="facebook parImmo" alt="facebook parImmo"></a>
                    <a href="#" id="tweeter" title="tweeter parImmo" alt="tweeter parImmo"></a>
                    
            </div>
            <div  class="col-xs-12 col-md-1">
              <a href="#">Contact</a>
            </div>  
      </div>


  </footer>



        {% block javascripts %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ asset('js/jquery.min.js') }}">\x3C/script>')</script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>