{% extends "::base.html.twig" %}

{% block title %}
	{{ parent() }} - kikologue !
{% endblock %}

{% block wrapper %}
	<h1>Kikologue {{content.username }}:</h1>
	<div class='border'>
	        <div class='row'>
	              <div class="col-xs-12 col-md-4">
				<img src="{{ asset('uploads/medium/'~ content.photo) }}" alt="photo" class="img-circle">
				 </div>
                 
                 <div class="col-xs-12 col-md-8">
                 <p></p>
                 <p></p>
				{{ content.firstname}}  {{ content.name}}
			     <p>Sexe: {{ content.sex}}</p>
			     <p>Né(e) à {{ content.birthyear|date('d-m-Y')}}</p>
			     <p> {{ content.metier}}</p>
			     </div>
		    </div>
   </div>

     <div id='descriptif'>
		      <div class='row'>
			              

					       <div class="col-xs-12 col-md-8">
					     	<p>Quelques mots sur l'enseignant: {{ content. DescriptifFormateur}}</p>
					     	</div>

					     	<div class="col-xs-12 col-md-4">
					       <img src="{{ asset('uploads/imageformateur.jpg') }}" alt="">
					       </div>
              </div>
	
     </div>

      <div class='border'>
      <p>Les cours dispensés:</p>
	
      {% for content in content.cours %}
           <div class='block'>
	       <li><a href="{{ path( 'xiaomei_xiaomei_showcour', {'id': content.id} ) }}">{{ content.name}}</a></li>
            </div>
      {% endfor %}
	 </div>

	 <div class='border'>
	<p>Les cours suivis: </p>
	{% for content in content.inscription %}
           <div class='block'>
	       <li><a href="{{ path( 'xiaomei_xiaomei_showcour', {'id': content.cours.id} ) }}">{{ content.cours.name}}</a></li>
            </div>
      {% endfor %}
      </div>  

{% endblock %}