{% extends "::base.html.twig" %}

{% block title %}
{{ parent() }} - home
{% endblock %}

{% block wrapper %}

 <section class='home' >
  
            <img class='fond' src="{{ asset('uploads/imagefond.jpg') }}">
            <div class="container">
             <div class="col-xs-12 col-md-1" class='formmotcle' id='motcle'>
                 {{ form(keyword, {'attr': {'novalidate': 'novalidate'}}) }}
             </div>
          

 <!-- <div id='form_keyword_results'> -->
            <h2>PARTAGER VOS CONNAISSANCES</h2> 

 <div id='formrecherche'>
		 <div class='home_stat'>Nombre de formation en cours: {{ nombrecours}} </div> 
		 <div class='home_stat'>Nombre de kikologues inscrites:  {{ nombreusers}} </div>

       <div id='formrecherche_box'> {{ form(recherche, {'attr': {'novalidate': 'novalidate'}}) }}</div>
 </div>

</div>
   
</section>

{% endblock %}



 {% block javascripts %}  
{{ parent() }}

<script>
si je ne veux pas cette fonction 
$("#form_keyword").on("keyup", getSuggestions);

function getSuggestions(){
			if ($("#form_keyword").val().length >= 1){
				$.ajax({
					url: "{{ path('xiaomei_xiaomei_suggestion')}}",
					type: "GET",
					data: {
						keyword: $("#form_keyword").val() 
					},
					success: function(response){
						console.log(response.length);
						if (response.length > 0){
							$("#form_keyword_results").html(response).slideDown(250);
						}
					},
					error: function(){
					}
				});
			}
			else {
				$("#form_keyword_results").slideUp(150);
			}
		}

		
		/*$("#form_keyword_results").on("click", "li", function(){
			var content = $(this).html(); //$(this) fait référence au li qui vient d'être cliqué
			$("#form_keyword").val( content );    //val() permet également de changer la valeur d'un input
			$("#form_keyword_results").slideUp(150);
		});*/


</script>


{% endblock %}
