{% extends "::base.html.twig" %}

{% block title %}
{{ parent() }} - cours détaillé
{% endblock %}

{% block wrapper %}
{% if app.user and  dejainscrit >=1 %}
<div id="cours">
	<span>vous êtes déja inscrit</span>
</div>


{% else %}

<h1>Nom de formation: {{ content.name}}</h1>
<h3>Nom de catégorie: {{ content.category.name }}</h3>
<p>Image de formation: {{ content.image}}</p>
<p>Date de formation: {{ content.dateCours|date('d-m-Y')}}</p>
<p>lieu de formation: {{ content.lieu}}</p>
<p>Durée de formation( en heures): {{ content.duration}}</p>
<a href="{# path( 'xiaomei_xiaomei_formateur', {'id': content.user.id} ) }}">Voir les details de kikologue; {{ content.user.username#}</a>  

</p>
<p>Le descriptif de la formation: {{ content.descriptif}}</p>
<p>Nombre de places total :{{ content.nrPlaceTotal}}</p>
<p>il en reste {{ content.nrPlaceRestant}} de place(s)</p>




<p>la formation a été crée: {{ content.dateCreated|date('d-m-Y')}}</p>
<br/> 



{# if $user.nombrecredit>=dureedeformation #}

<button type="button" class="btn btn-default btn-lg">
 <a href="{{ path( 'xiaomei_xiaomei_inscriptioncoursconfirmer', {'id': content.id} ) }}" 
	     title="{{ content.name }}">S'inscrire au cours</a> 
</button>


{% endif %}

{% endblock %}