{% extends "::base.html.twig" %}

{% block title %}
{{ parent() }} - Cours
{% endblock %}

{% block wrapper %}

<h1>Les formations disponibles pour vous </h1>

<div class='row' id='cours'>
	<div id='formtri' class="col-xs-12 col-md-4">{{ form(order, {'attr': {'novalidate': 'novalidate'}}) }}</div>

	<div class='class="col-xs-12 col-md-8"' id='page'>
	{% if( page < nombrepage) %}
	<a href="{{path('xiaomei_xiaomei_showcoursall',{'tri':tri ,'lieu':lieu, 'category':category,'duration':duration,'keyword':keyword,'page': page+1} ) }}">Page suivante</a>
	 {% endif %}

	{% if( page > 1)%}<a href="{{path('xiaomei_xiaomei_showcoursall',{'tri':tri ,'lieu':lieu,'category':category, 'duration':duration,'keyword':keyword,'page': page-1} ) }}">Page précédente</a>
	 {% endif %}
    </div>
</div> 

<div class='produits'>
	

	  <div class='produit_image_lists'>
	    {% for content in contents %}
	        <div class='produit_image'>
	        <p> ({% if content.category is not null %}
		      Catégorie: {{ content.category.name }}     
		     {% else %}
		     non-catégorisée
		     {% endif %})</p>
	        
	        <a href="{{ path( 'xiaomei_xiaomei_showcour', {'id': content.id} ) }}" 
		     title="{{ content.name }}"> 	<img src="{{ asset('uploads/thumbnails/'~ content.image) }}" alt="photo" width="300px" height='100px'></a> 
	      
	       	{% if content.nrPlacerestant==0  %} <span class='rouge'>Complete    </span> {% endif %}
	       	{% if content.dateCours < date('+2days') and content.dateCours > date('+0days') %} <span class='rouge'>Nouvelle  </span> {% endif %}
	       	{% if content.dateCours < date('+2days') and content.dateCours > date('+0days')  and  content.nrPlacerestant > 0 %} <span class='rouge'>Ne tardez pas  </span> {% endif %}
	       	
	       	<p>{{ content.name }} à {{content.lieu}} date:{{content.dateCours|date('d-m-Y')}} places qui restent:{{ content.nrPlacerestant}}  </p>
	       	 </div>
	       
	 	 
        {% endfor %}
	 </div>
</div>


{% endblock %}

