{% extends "::base.html.twig" %}

{% block title %}
{{ parent() }} - cours détaillé
{% endblock %}

{% block wrapper %}

<h1>Nom de formation: {{ content.name}} </h1> 
<p id='accroche'> Catégorie: {{ content.category.name }}

Date de formation: {{ content.dateCours|date('d-m-Y')}}
à {{ content.lieu}} avec une durée de {{ content.duration}} heures
</p>

<div class='formateur' class='border'>
          <h2> Instructor</h2>
	        <div class='row'>
	              <div class="col-xs-12 col-md-3" >
				<a href="{{ path( 'xiaomei_xiaomei_formateur', {'id': content.user.id} ) }}"><img src="{{ asset('uploads/thumbnails/'~ content.user.photo) }}" alt="photo" class="img-circle" ></a>  
				 </div>
                 
                 <div class="col-xs-12 col-md-4" class='border'>
                 <p></p>
                 <p></p>
				{{ content.user.firstname}}  {{ content.user.name}}
			     <p> {{ content.user.metier}}</p>
			     </div>
                 
                 <div class="col-xs-12 col-md-5" class='border'>
			     <p>Le descriptif de la formation: {{ content.descriptif}}</p>
				<p>Nombre de places total :{{ content.nrPlaceTotal}}</p>
				<p>il en reste {{ content.nrPlaceRestant}} de place(s)</p>
				la formation a été crée: {{ content.dateCreated|date('d-m-Y')}}</p>
				</div>

		    </div>
   </div>






<div id='photograndformation' class='border'>
<p>photo de la formation ; {{ content.image}}</p>
</div>



{% if app.user and  dejainscrit >=1 %}
<div id="cours">
	<span>vous êtes déja inscrit</span>
</div>


{% else %}

{# if $user.nombrecredit>=dureedeformation #}
<div class='buttonrouge'>
<button type="button" class="btn btn-danger"  class="btn btn-primary btn-lg">
 <a href="{{ path( 'xiaomei_xiaomei_inscriptioncoursconfirmer', {'id': content.id} ) }}" 
	     title="{{ content.name }}">S'inscrire au cours</a> 
</button>
</div>

{% endif %}

<div class='border'>
<p class="rouge">Les kikala ayant suivi cette formation ont également suivi:</p>

{% for cours_rec_resulat in cours_rec_resulats %}
     <div>
      <img src="" alt="image">
       <a href="{{ path('xiaomei_xiaomei_showcour',{'id':cours_rec_resulat.id})}}"> {{ cours_rec_resulat.name}}</a> 
    
        Place qui reste:{{ cours_rec_resulat.nrPlaceRestant}}
    </div>

 {% endfor %}
</div>
         
{% endblock %}